{% extends "dash/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contatos{% endblock %}

{% block pagetitle %}Contatos{%endblock%}

{% block content %}

<div class="row">
<div class="col-md-2">
    
    <button type="submit" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#newClientModal">+ Pessoa</button>    
    <button type="submit" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Empresa</button>    
</div>
<div class="col-md-10">
    <div class="table-responsive">
        <table class="table mt-2">
                <thead>
                    <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in persons %}
                    <tr>
                        <td><a href="{% url 'contacts_detail' pk=person.id %}">{{ person.first_name }}</a></td>
                        <td>{{ person.label }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.phone }}</td>
                        <td>{{ person.company_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
</div>
</div>


<!-- Modal para cadastro de cliente -->
<div class="modal fade" id="newClientModal" tabindex="-1" aria-labelledby="newClientModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">
			<form method="POST" action="{% url 'contacts' %}">
				<div class="modal-header">
					<h5 class="modal-title" id="newClientModalLabel"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
                        {% csrf_token %}
                        <div class="mt-2">{{ form.first_name | as_crispy_field }}</div>
                        <div class="mt-2">{{ form.email | as_crispy_field }}</div>
                        <div class="mt-2">{{ form.phone | as_crispy_field }}</div>
                        <div class="mt-2">{{ form.company | as_crispy_field }}</div>
                        <div class="mt-2">{{ form.label | as_crispy_field }}</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
    </div>
</div>


{% endblock %}