{% extends "dash/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contatos{% endblock %}

{% block pagetitle %}Configuração de {{detail.first_name}}{%endblock%}

{% block content %}

<div class="row mt-2">
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <span style="font-size: 13px; margin-top: 2px; color: #721ea9; font-weight: 600;">DETALHES</span>
        </div>
        <div class="card-body">
            <div class="mt-2"><strong>Nome: </strong>{{ detail.first_name }}</div>
            <div class="mt-2"><strong>Sobrenome: </strong>{{ detail.last_name }}</div>
            <div class="mt-2"><strong>E-mail: </strong>{{ detail.email }}</div>
            <div class="mt-2"><strong>Aniversário: </strong>{{ detail.birthday }}</div>
            <div class="mt-2"><strong>Telefone: </strong>{{ detail.phone }}</div>
            <div class="mt-2"><strong>Empresa: </strong>{{ detail.company_id }}</div>
            <div class="mt-2"><strong>Tipo: </strong>{{ detail.label }}</div>    
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            Atividades, historico, negócios
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <span style="font-size: 13px; margin-top: 2px; color: #721ea9; font-weight: 600;">OBSERVAÇÕES</span>
            </div>
            <div class="">
                <textarea name="" id="" cols="43" rows="5"></textarea>  
            </div>
        </div>
    </div>
</div>

{% endblock %}

