{% extends "users/base_auth.html" %}

{% load crispy_forms_tags %}

{% block title %}Esqueceu sua senha?{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-centralized">
        <h1 class="h2 mb-4 fw-normal" style="text-align: center;">Reset your password</h1>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">E-mail enviado!</h4><hr>
            <p>Verifique seu e-mail para obter um link para redefinir sua senha. Se não aparecer em alguns minutos, verifique sua pasta de spam.</p>
        </div>
        <div>
            <a href="/">
                <button type="button" style="margin-bottom: 10px;" class="w-100 btn btn-lg btn-primary">
                    Voltar para fazer login
                </button>
            </a>
        </div> 
    </div>
    <div class="col-md-3"></div>  
</div>
{% endblock %}