{% extends "users/base_auth.html" %}

{% load crispy_forms_tags %}

{% block title %}Esqueceu sua senha?{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 form-centralized">
        <h1 class="h2 mb-4 fw-normal" style="text-align: center;">Reset your password</h1>
        <div class="card shadow">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <p style="margin-top: 10px;">Digite sua nova senha abaixo:</p>
                    <div style="padding: 10px 0 10px 0;">{{ form.new_password1|as_crispy_field }}</div>
                    <div>{{ form.new_password2|as_crispy_field }}</div><br>
                    <div>
                        <button type="submit" style="margin-bottom: 10px;" class="w-100 btn btn-lg btn-primary">Redefinir Senha</button>
                    </div>
                </form>
            </div>
        </div><br> 
    </div>
    <div class="col-md-4"></div>  
</div>
{% endblock %}